{{> navbar user }}

<div class="container">
    <div class="row">
        <div class="col-md">
            <div class="jumbotron">
                <h4 class="display-6">WELCOME TO INVITOR +</h4>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md">
            <h2>Search for an Event Near you!</h2>
            <p>Input your region or place and events near you will be displayed. If you find an event you like, you may
                create an account or login to save an to share with friends! </p>
            {{!-- Search for the region using Bootstrap --}}
            <table class="table table-hover">
                <div class="input-group mb-3">
                    <input type="search-input" class="form-control" placeholder="Enter City and State"
                        aria-label="Region or Place" aria-describedby="button-addon2">
                    <div class="input-group-append">
                        <button class="btn btn-outline-secondary" type="button" id="button-addon2">Search</button>
                    </div>
                </div>
            </table>
            <div class="column">
                <div class='rows'>
                    <section class="section">
                        <section class="section">
                            <div class='row is-full'>
                                <h2 id="Events" class="title is-2">Latest Events: </h2>
                            </div>
                        </section>
                    </section>
                        <div id="description"></div>
                </div>
            </div>   
    
                    <script src='js/server2.js'></script>