{{> navbar user }}

<div class="container">
    <div class="row">
        <div class="col-md centering">
            <div class="jumbotron">
                <h4 class="display-6">WELCOME TO RSVPlanner +</h4>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md">
            <h2>Looking for major events in your area? Search here!</h2>
            <p>Input your city and State to see major public events near you. Want to plan a trip to one with your friends? Or maybe just organize a personal event with your peers? Sign up with us to start using these features.</p>
            {{!-- Search for the region using Bootstrap --}}
            <table class="table table-hover">
                <div class="input-group mb-3">
                    <input type="search-input" class="form-control" placeholder="Enter City and State"
                        aria-label="Region or Place" aria-describedby="button-addon2">
                    <div class="input-group-append">
                        <button class="btn btn-outline-secondary" type="button" id="button-addon2">Search</button>
                    </div>
                </div>
            </table>
            <div class="column">
                <div class='rows'>
                    <section class="section">
                        <section class="section">
                            <div class='row is-full'>
                                <h2 id="Events" class="title is-2">Events in your area: </h2>
                            </div>
                        </section>
                    </section>
                        <div id="description"></div>
                </div>
            </div>

            <div>
                <p class = "secret-pad">......</p>
            </div>   
    
                    <script src='js/server2.js'></script>