form.signup,
form.login {
  margin-top: 50px;
}

.forum-post-card {
  width: 100%;
}

.forum-post {
  width: 100%;
}

footer {
  text-align: center;
}

.signup-adjust {
  font-size: large;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.centering {
  text-align: center;
}

.navbar-coloring {
  background-color: cornflowerblue;
  background-image: none;
  background-repeat: no-repeat;
 }

 .secret-pad {
   color: white;
 }

 .big-words {
  font-size: xx-large ;
 }